fastapi[standard]
uvicorn[standard]
pdfplumber
pydantic
python-multipart
openai
requests
psycopg2-binary
PyJWT
python-dotenv

pymupdf
pytesseract 

##Stock Data
pandas
openpyxl
requests
apscheduler 
pytz

## Invoice 
reportlab